.bag-content {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 1rem var(--content-padding);
    margin-top: 2rem;
    margin-bottom: 2rem;
    gap: 1rem;
}

.bag-header {
    flex-basis: 100%;
}

.bag-columns {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 1rem;
}

.cart-items,
.order-summary {
    display: flex;
    flex: 1;
    gap: 1rem;
    flex-direction: column;
    min-width: 400px;
    margin-top: 2rem;
    text-align: left;
    padding: 2rem;
}


.button-row {
    display: flex;
    margin-top: 1rem;
    align-items: center;
}

.page-button {
    display: inline-block;
    min-width: 10rem;      
    padding: 0.5rem 1rem;   
    text-align: center;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.page-button:hover {
    color: white;
    background-color: grey;
}