.notfound-image {
  width: 250px;
  height: 200px;
  margin: 0 auto 1rem auto; /* Center horizontally, add bottom spacing */
  overflow: hidden;
  position: relative;
}

.notfound-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease;
}