* {
    box-sizing: border-box;
}

:root {
    --section-spacing: 4rem;
    --content-padding: 4rem;
}


html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

section {
    margin-bottom: var(--section-spacing);
    padding: 0 var(--section-padding);
